<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <title>@ViewData["Title"] - Red Rooster News - Cock-A-Doodle-Doo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCNewsSite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>



        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">


            <script>
                var x = document.getElementById("demo");
                function getLocation() {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(showPosition);
                    } else {
                        x.innerHTML = "Geolocation is not supported by this browser.";
                    }
                }

                function showPosition(position) {
                    x.innerHTML = "Latitude: " + position.coords.latitude +
                        "<br>Longitude: " + position.coords.longitude;
                }
            </script>

                
                <div class="container-fluid">
                    <a class="navbar-brand" style="font-size:30px";  asp-area="" asp-controller="News" asp-action="Index">Red Rooster News</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="position:relative;top:0px" ;>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Sports">Sports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Business">Business</a>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Entertainment"> Entertainment </a>

                        </li>


                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Health"> Health </a>

                        </li>

                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Science"> Science </a>

                        </li>


                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Technology"> Technology </a>

                        </li>



                        <div class="nav-item dropdown">
                            <span class="nav-item">Languages</span>
                            <div class="dropdown-content">
                                <ul class="dd-menu">
                                    <li class="dd-menu-item">English</li>
                                    <li class="dd-menu-item">French</li>
                                    <li class="dd-menu-item">Spanish</li>
                                    <li class="dd-menu-item">Arabic</li>
                                    <li class="dd-menu-item">German</li>
                                    <li class="dd-menu-item">Hebrew</li>
                                    <li class="dd-menu-item">Italian</li>
                                    <li class="dd-menu-item">Dutch</li>
                                    <li class="dd-menu-item">Norwegian</li>
                                    <li class="dd-menu-item">Portuguese</li>
                                    <li class="dd-menu-item">Russian</li>
                                    <li class="dd-menu-item">Swedish</li>
                                    <li class="dd-menu-item">Chinese</li>

                                </ul>
                            </div>
                        </div>

                        <li style="white-space:nowrap; font-size:20px"  class="nav-link text-dark "> Search <br> </li>

                        <li class="nav-link text-dark"><input type="text" name="articleSearch" value="" /> </li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
            
            

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Red Rooster News - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
