/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    position: absolute;
    top: 0px;

}


#text-topic {
    font-size: 20px;
    font-family: 'Allerta Stencil';
    color: yellow;
}

#text-topic.nav-item {
    font-size: 20px;
    font-family: 'Allerta Stencil';
    color: yellow;
}

.nav-item {
    font-size: 20px;
    font-family: 'Allerta Stencil';
    color: yellow;
}

    .nav-item:hover {
        background-color: darkgreyyyyyyyy;
        border: 1px solid #bbb;
    } 

a {
  color: #0077cc;
}

a.nav-link.text-dark {
    font-family: 'Allerta Stencil';
    color:yellow;
}



.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

#image-standard 
{ 

    width:300px;
    height:200px;


}

.main-container {
    max-width: 800px;
    margin: 0 auto;
}

.article-container {
    display: flex;
    align-items: flex-start;
    padding:20px;
    margin-bottom: 20px;
}

.image-container {
    width: 50%; /* Adjust the width as needed */
    height: 50%; /* Adjust the height as needed */
    margin-right: 10px; /* Adjust the spacing between the image and details */
}

.image-responsive {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.article-details {
    flex: 1; /* Allow the details to occupy remaining space */
}

    .article-details h3 {
        font-size: 18px; /* Adjust the font size as needed */
        margin-top: 0;
    }

    .article-details p {
        font-size: 14px; /* Adjust the font size as needed */
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .article-details a {
        font-size: 14px; /* Adjust the font size as needed */
    }


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
}

.dd-menu-item:hover 
{
    background-color:lightslategrey;
}

.nav-link
{
    font-family: 'Allerta Stencil';
    color: yellow
}









